/* Geral 
*************/

.barra-navegacao {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.links {
  display: flex;
  justify-content: center;
}

.apresentacao {
  background-image: url("./img/fundo.jpg");
  height: 470px;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.apresentacao-text {
  position: absolute;
  top: 130px;
  left: 13%;
  color: white;
}

.baixe-app-box {
  background: rgb(74, 74, 255);
  width: 200px;
  border-radius: 0 20px 0 0;
  padding: 20px;
  margin-top: 50px;
}

.motivos {
  padding: 100px 13%;
}

.motivo {
  padding-top: 30px;
  min-width: 190px;
}

.img-motivo {
  padding-bottom: 30px;
}

.vantagens {
  background: url("./img/pattern.png") no-repeat rgb(209, 209, 209);
  min-height: 272px;
}

.vantagens-conteudo {
  margin: 0 auto;
  padding: 30px 0;
}

.img-vantagens {
  height: 212px;
  width: auto;
}

.vantagens-box-esquerda, .vantagens-box-direita {
  min-width: 355px;
}

.vantagens-box-direita > p {
    margin-top:  20px;
}

.vantagens-box-direita > button {
    border-radius: 0;
    margin: 0 auto;
    padding: 7px 13px;
}

.vantagens-box-direita > button > p {
    margin: 0 auto;
}

.footer-azul {
    background: rgb(15, 73, 218);
    height: 250px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.footer-content {
  min-width: 300px;
}

.footer-content > h4 {
  margin: 0 auto;
  width: 60%;
  text-align: left;
}

.img-app {
    border-radius: 5px;
    background: rgba(63, 63, 63, 0.523);
    padding: 5px 10px;
    margin: 10px;
    font-size: 13px;
}

.footer {
    height: 150px;
    text-align: center;
    padding: 20px;
}

.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.nav-footer > a {
    margin: 10px;
    font-size: 13px;
}

.nav-footer > a {
    margin: 10px 10px;
}

.nav-footer > a > i:hover {
    transition: all 1s;
}

.nav-footer > a > i:hover {
    font-size: 30px;
}

/* Tipografia 
************/

a {
  color: #fff;
}

a:link {
  text-decoration: none;
}
.font-cinza {
  color: rgb(85, 85, 85);
}

.font-azul {
  color: rgb(119, 119, 255);
}

.btn {
  font-size: 10px;
  margin: 5px 10px;
}

.atendimento {
  font-size: 12px;
  margin: 5px 10px;
}

.nav-link {
  color: black !important;
}

.botao-azul {
  color: white !important;
}

.atendimento:hover {
  color: blue !important;
}

.play-text {
  margin-top: 30px;
  font-weight: 100;
}

.font-light {
    font-weight: 100;
}

.baixe-app-box > p {
  font-size: 12px;
  padding: 20px 0 0 0;
  margin: 0 auto;
}
